<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Peraturan - Tes Kecerdasan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login-Form-Clean.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
</head>

<body id="page-top"><a href="#" class="menu-toggle rounded new-menu"><i class="fa fa-bars"></i></a>
    <div class="dropdown rounded new-drp"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fa fa-user"></i><span>&nbsp;&nbsp;</span><span>&nbsp;<?php echo $user['username'] ?></span><span>&nbsp;&nbsp;</span></button>
        <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" role="presentation" href="profile">
                <img src="assets/img/SEA%20Logo.png" style="max-width: 20px;max-height: 20px; margin-left:0;">&nbsp; <?php echo $user['username'] ?>
            </a>
            <div class="dropdown-divider" role="presentation"></div>
            <a class="dropdown-item" role="presentation" href="edit_profile">Edit Profile</a>
            <a class="dropdown-item" role="presentation" href="hasil">Lihat Hasil</a>
            <div class="dropdown-divider" role="presentation"></div>
            <a class="dropdown-item" role="presentation" href="logout">Logout</a>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand new-navbar" id="sidebar-wrapper">
        <div class="container"><button class="navbar-toggler d-none" data-toggle="collapse" data-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav sidebar-nav" id="sidebar-nav" style="padding: 20px;">
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="index">Home</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="peraturan?id=1">Soal</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="nilai">Nilai</a></li>
                    <li class="nav-item sidebar-nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="profile">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="profileimg d-flex masthead login-clean">
        <div class="container my-auto">
            <form style="background-color: rgba(81,89,91,0.76); max-width:none;" method="POST">
                <div>
                    <h5 class="text-left" style="color:white">Peraturan</h5>
                    <hr>
                    <h2 class="text-center card-title" style="margin-bottom: 20px; color:white">{{ data[1] }}</h2>
                    <h6 class="card-subtitle mb-2" style="color:white">Waktu Pengerjaan :&nbsp;{{ data[2] }} Menit</h6>
                    <h6 class="card-subtitle mb-2" style="color:white">Jumlah Soal :&nbsp;{{ data[7] }} Soal</h6>
                    <h6 class="card-subtitle mb-2" style="color:white">Nilai Maksimal :&nbsp;{{ data[3] }}</h6>
                    <h3 class="card-subtitle mb-2" style="color:white;margin: 30px 0px;">{{ data[6]|safe }}</h3>
                    <div style="color:white">{{ data[4]|safe }}
                    </div> 
                    <!-- <td> -->
                    {% if data[0]==7 or data[0]==8 %}
                        <img src="{{ data[8]|safe }}" width="450px" height="220px">
                    {% endif %}
                        <!-- </td>  -->
                    <div class="form-check" style="color: white;margin: 30px 0px;">
                        <input class="form-check-input" type="checkbox" id="formCheck" name="ceklis" value="1" required oninvalid="this.setCustomValidity('Silahkan diceklis')" oninput="setCustomValidity('')">
                        <label class="form-check-label" for="formCheck">Saya mengerti dan siap untuk mengikuti tes</label>
                    </div>
                    <button class="btn btn-info btn-block" type="submit" name="mulai" style="margin-top: 10px;">Mulai Tes</button>
                </div>
            </form>
        </div>
    </header>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
    <script src="{{ url_for('static', filename='js/stylish-portfolio.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</body>

</html>